<div class="header-wrapper">

  <div class="header">

    <div class="header-logo-wrapper">
      <div class="logo">

      </div>
    </div>

    <div class="d-flex flex-grow-1"></div>

    <div class="personal-wrapper">
      <div class="personal">
        <div class="avatar">
          <img class="avatar-ico" src="/assets/images/avatar.png" alt="">
        </div>
        <div class="name">
          Super Admin
        </div>
        <div class="drop-down-button">
          <img class="drop-down" src="/assets/images/drop-down.png" alt="">
        </div>
      </div>
    </div>

  </div>

</div>
